.all {
    padding: 30px 30%;
    background-color: rgb(250, 247, 236);
    height: 100vh;
    position: relative;
}

.router-home {
    position: absolute;
    bottom: 100px;
    right: 100px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: rgb(53, 133, 247);
    box-shadow: 2px 2px 2px #ddd;
    cursor: default;
    font-size: 16px;
    font-family:  "Times New Roman", Georgia, Serif !important;
}

.header {
    font-size: 30px;
    color: #000;
    text-align: left;
}

.return-bar {
    width: 100%;
    height: 2px;
    background: coral;
    margin-top: -30px;
}

.return-content {
    height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.empty {
    margin-top: 200px;
}

.return-item {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.page-image {
    width: 120px;
    height: 170px;
    border-radius: 10px;
}

.page-right {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 30px;
    font-weight: bolder;
    font-family: "Times New Roman", Georgia, Serif !important;
}

.page-btn {
    position: absolute;
    top: 3px;
    right: 10px
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.page-author {
    color: #888;
    margin: 5px 0;
}

.page-number {
    color: #888;
    margin-bottom: 5px;
}

.page-brief {
    margin-top: 5px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

